In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/dataset/train.csv
/kaggle/input/dataset/test.csv

# Reading Data

In [2]:
traindf = pd.read_csv('/kaggle/input/dataset/train.csv')
testdf = pd.read_csv('/kaggle/input/dataset/test.csv')

In [3]:
traindf.head()

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,...,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,ff8081815733a243015733b2876600a6,BHK2,"Cauvery Colony,Koramangala",21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,...,2,E,2,6,12,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2,40000
1,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,09-10-2017 12:48,12.929557,77.672280,ANYONE,0,1,0,...,2,NE,2,3,4,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2,22000
2,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,12-06-2018 22:02,12.982870,80.262012,FAMILY,0,1,0,...,3,E,3,1,5,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3,28000
3,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,...,1,E,1,1,2,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0,8000
4,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,...,3,E,4,0,0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1,45000

In [4]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20500 entries, 0 to 20499
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               20500 non-null  object
 1   type             20500 non-null  object
 2   locality         20500 non-null  object
 3   activation_date  20500 non-null  object
 4   latitude         20500 non-null  float64
 5   longitude        20500 non-null  float64
 6   lease_type       20500 non-null  object
 7   gym              20500 non-null  int64
 8   lift             20500 non-null  int64
 9   swimming_pool    20500 non-null  int64
 10  negotiable       20500 non-null  int64
 11  furnishing       20500 non-null  object
 12  parking          20500 non-null  object
 13  property_size    20500 non-null  int64
 14  property_age     20500 non-null  int64
 15  bathroom         20500 non-null  int64
 16  facing           20500 non-null  object
 17  cup_board        20500 non-null  int64
 18  floor            20500 non-null  int64
 19  total_floor      20500 non-null  int64
 20  amenities        20500 non-null  object
 21  water_supply     20500 non-null  object
 22  building_type    20500 non-null  object
 23  balconies        20500 non-null  int64
 24  rent             20500 non-null  int64
dtypes: float64(2), int64(12), object(11)
memory usage: 3.9+ MB

In [5]:
traindf.describe()

,latitude,longitude,gym,lift,swimming_pool,negotiable,property_size,property_age,bathroom,cup_board,floor,total_floor,balconies,rent
count,20500.000000,20500.000000,20500.000000,20500.000000,20500.000000,20500.000000,20500.000000,20500.000000,20500.000000,20500.000000,20500.000000,20500.000000,20500.000000,20500.000000
mean,12.945751,77.637280,0.226732,0.361463,0.174927,0.711512,1061.829463,5.770634,1.858146,4.553512,1.873561,3.801610,1.148976,19053.602195
std,0.029594,0.110586,0.418728,0.480436,0.379914,0.453070,591.419631,6.350271,0.710822,335.416267,2.184927,3.185748,0.993835,8433.949300
min,12.900004,77.500072,0.000000,0.000000,0.000000,0.000000,1.000000,-1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8000.000000
25%,12.918188,77.571956,0.000000,0.000000,0.000000,0.000000,700.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,12500.000000
50%,12.943800,77.633491,0.000000,0.000000,0.000000,1.000000,1047.000000,5.000000,2.000000,2.000000,1.000000,3.000000,1.000000,17500.000000
75%,12.970952,77.695760,0.000000,1.000000,0.000000,1.000000,1281.000000,10.000000,2.000000,3.000000,2.000000,4.000000,2.000000,24000.000000
max,12.999999,80.266346,1.000000,1.000000,1.000000,1.000000,50000.000000,400.000000,21.000000,48026.000000,25.000000,26.000000,13.000000,50000.000000

In [6]:
traindf.isna().sum()

id                 0
type               0
locality           0
activation_date    0
latitude           0
longitude          0
lease_type         0
gym                0
lift               0
swimming_pool      0
negotiable         0
furnishing         0
parking            0
property_size      0
property_age       0
bathroom           0
facing             0
cup_board          0
floor              0
total_floor        0
amenities          0
water_supply       0
building_type      0
balconies          0
rent               0
dtype: int64

In [7]:
traindf.duplicated().sum()

0

In [8]:
traindf.columns

Index(['id', 'type', 'locality', 'activation_date', 'latitude', 'longitude',
       'lease_type', 'gym', 'lift', 'swimming_pool', 'negotiable',
       'furnishing', 'parking', 'property_size', 'property_age', 'bathroom',
       'facing', 'cup_board', 'floor', 'total_floor', 'amenities',
       'water_supply', 'building_type', 'balconies', 'rent'],
      dtype='object')

In [9]:
traindf = traindf.drop(columns=['id','locality'],axis=1)

In [10]:
traindf

,type,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,...,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,BHK2,21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,0,SEMI_FURNISHED,...,2,E,2,6,12,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2,40000
1,BHK2,09-10-2017 12:48,12.929557,77.672280,ANYONE,0,1,0,1,SEMI_FURNISHED,...,2,NE,2,3,4,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2,22000
2,BHK3,12-06-2018 22:02,12.982870,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,...,3,E,3,1,5,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3,28000
3,BHK1,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,...,1,E,1,1,2,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0,8000
4,BHK3,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,...,3,E,4,0,0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1,45000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20495,BHK3,13-12-2017 18:08,12.925380,77.524397,ANYONE,1,1,1,1,SEMI_FURNISHED,...,3,E,3,4,4,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2,25000
20496,BHK2,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,SEMI_FURNISHED,...,2,N,2,1,2,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORPORATION,IH,2,30000
20497,BHK2,21-12-2017 21:18,12.901800,77.566597,FAMILY,1,1,0,1,SEMI_FURNISHED,...,2,W,2,5,5,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2,16000
20498,BHK2,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,1,0,0,SEMI_FURNISHED,...,2,E,2,2,4,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,3,30000
20499,BHK1,08-07-2018 22:31,12.998645,77.574336,ANYONE,0,0,0,1,SEMI_FURNISHED,...,1,E,1,1,1,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1,8500

## Columnwise Analysis

Type

In [11]:
traindf.lease_type.value_counts()

FAMILY      10174
ANYONE       9681
BACHELOR      587
COMPANY        58
Name: lease_type, dtype: int64

In [12]:
traindf.type.value_counts()

BHK2        11679
BHK3         4403
BHK1         3601
RK1           553
BHK4          233
BHK4PLUS       31
Name: type, dtype: int64

In [13]:
traindf.furnishing.value_counts()

SEMI_FURNISHED     17895
NOT_FURNISHED       1429
FULLY_FURNISHED     1176
Name: furnishing, dtype: int64

In [14]:
traindf.parking.value_counts()

BOTH            10799
TWO_WHEELER      7211
FOUR_WHEELER     1448
NONE             1042
Name: parking, dtype: int64

In [15]:
traindf.facing.value_counts()

E     9514
N     5917
W     2628
S     1219
NE     817
SE     197
NW     149
SW      59
Name: facing, dtype: int64

In [16]:
traindf.water_supply.value_counts()

CORP_BORE      10693
CORPORATION     6719
BOREWELL        3088
Name: water_supply, dtype: int64

In [17]:
traindf.building_type.value_counts()

IF    9238
AP    8854
IH    2391
GC      17
Name: building_type, dtype: int64

In [18]:
df = pd.get_dummies(traindf,columns=['type','lease_type','furnishing','parking','facing','water_supply','building_type'], prefix=['type','lease','fur','parking','face','water','building'])

In [19]:
df.head()

,activation_date,latitude,longitude,gym,lift,swimming_pool,negotiable,property_size,property_age,bathroom,...,face_SE,face_SW,face_W,water_BOREWELL,water_CORPORATION,water_CORP_BORE,building_AP,building_GC,building_IF,building_IH
0,21-04-2018 14:44,12.934471,77.634471,1,1,1,0,1250,25,2,...,0,0,0,0,0,1,1,0,0,0
1,09-10-2017 12:48,12.929557,77.672280,0,1,0,1,1400,4,2,...,0,0,0,0,1,0,1,0,0,0
2,12-06-2018 22:02,12.982870,80.262012,0,1,0,0,1350,6,3,...,0,0,0,0,0,1,1,0,0,0
3,20-07-2018 16:22,12.955991,77.531634,0,0,0,1,600,3,1,...,0,0,0,0,1,0,0,0,0,1
4,31-05-2018 17:41,12.963903,77.649446,0,0,0,1,1500,15,3,...,0,0,0,0,1,0,0,0,0,1

In [20]:
import datetime
traindf['activation_date']

0        21-04-2018 14:44
1        09-10-2017 12:48
2        12-06-2018 22:02
3        20-07-2018 16:22
4        31-05-2018 17:41
               ...
20495    13-12-2017 18:08
20496    19-10-2017 20:31
20497    21-12-2017 21:18
20498    28-06-2018 21:58
20499    08-07-2018 22:31
Name: activation_date, Length: 20500, dtype: object

In [21]:
df['activation_date'] = pd.to_datetime(df['activation_date'])

In [22]:
df.head()

,activation_date,latitude,longitude,gym,lift,swimming_pool,negotiable,property_size,property_age,bathroom,...,face_SE,face_SW,face_W,water_BOREWELL,water_CORPORATION,water_CORP_BORE,building_AP,building_GC,building_IF,building_IH
0,2018-04-21 14:44:00,12.934471,77.634471,1,1,1,0,1250,25,2,...,0,0,0,0,0,1,1,0,0,0
1,2017-09-10 12:48:00,12.929557,77.672280,0,1,0,1,1400,4,2,...,0,0,0,0,1,0,1,0,0,0
2,2018-12-06 22:02:00,12.982870,80.262012,0,1,0,0,1350,6,3,...,0,0,0,0,0,1,1,0,0,0
3,2018-07-20 16:22:00,12.955991,77.531634,0,0,0,1,600,3,1,...,0,0,0,0,1,0,0,0,0,1
4,2018-05-31 17:41:00,12.963903,77.649446,0,0,0,1,1500,15,3,...,0,0,0,0,1,0,0,0,0,1

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20500 entries, 0 to 20499
Data columns (total 48 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   activation_date       20500 non-null  datetime64[ns]
 1   latitude              20500 non-null  float64
 2   longitude             20500 non-null  float64
 3   gym                   20500 non-null  int64
 4   lift                  20500 non-null  int64
 5   swimming_pool         20500 non-null  int64
 6   negotiable            20500 non-null  int64
 7   property_size         20500 non-null  int64
 8   property_age          20500 non-null  int64
 9   bathroom              20500 non-null  int64
 10  cup_board             20500 non-null  int64
 11  floor                 20500 non-null  int64
 12  total_floor           20500 non-null  int64
 13  amenities             20500 non-null  object
 14  balconies             20500 non-null  int64
 15  rent                  20500 non-null  int64
 16  type_BHK1             20500 non-null  uint8
 17  type_BHK2             20500 non-null  uint8
 18  type_BHK3             20500 non-null  uint8
 19  type_BHK4             20500 non-null  uint8
 20  type_BHK4PLUS         20500 non-null  uint8
 21  type_RK1              20500 non-null  uint8
 22  lease_ANYONE          20500 non-null  uint8
 23  lease_BACHELOR        20500 non-null  uint8
 24  lease_COMPANY         20500 non-null  uint8
 25  lease_FAMILY          20500 non-null  uint8
 26  fur_FULLY_FURNISHED   20500 non-null  uint8
 27  fur_NOT_FURNISHED     20500 non-null  uint8
 28  fur_SEMI_FURNISHED    20500 non-null  uint8
 29  parking_BOTH          20500 non-null  uint8
 30  parking_FOUR_WHEELER  20500 non-null  uint8
 31  parking_NONE          20500 non-null  uint8
 32  parking_TWO_WHEELER   20500 non-null  uint8
 33  face_E                20500 non-null  uint8
 34  face_N                20500 non-null  uint8
 35  face_NE               20500 non-null  uint8
 36  face_NW               20500 non-null  uint8
 37  face_S                20500 non-null  uint8
 38  face_SE               20500 non-null  uint8
 39  face_SW               20500 non-null  uint8
 40  face_W                20500 non-null  uint8
 41  water_BOREWELL        20500 non-null  uint8
 42  water_CORPORATION     20500 non-null  uint8
 43  water_CORP_BORE       20500 non-null  uint8
 44  building_AP           20500 non-null  uint8
 45  building_GC           20500 non-null  uint8
 46  building_IF           20500 non-null  uint8
 47  building_IH           20500 non-null  uint8
dtypes: datetime64[ns](1), float64(2), int64(12), object(1), uint8(32)
memory usage: 3.1+ MB

In [24]:
df['amenities'][0]

'{"LIFT":true,"GYM":true,"INTERNET":true,"AC":false,"CLUB":true,"INTERCOM":true,"POOL":true,"CPA":true,"FS":true,"SERVANT":false,"SECURITY":true,"SC":true,"GP":true,"PARK":false,"RWH":true,"STP":true,"HK":false,"PB":true,"VP":true}'

In [25]:
m=df["amenities"]
m[0]

'{"LIFT":true,"GYM":true,"INTERNET":true,"AC":false,"CLUB":true,"INTERCOM":true,"POOL":true,"CPA":true,"FS":true,"SERVANT":false,"SECURITY":true,"SC":true,"GP":true,"PARK":false,"RWH":true,"STP":true,"HK":false,"PB":true,"VP":true}'

In [26]:
type(m[0])

str

In [27]:
type(m[0][0])

str

In [28]:
df1=df.copy()

Handling "amenities" column

In [29]:
for i in range(0,20499):
    str=df1.amenities[i]
    spl=str.split(',')
#     print(spl)
    for j in spl:
#         print(type(spl))
#         print(j)
#         print(type(j))
        spl2=j.split(":")
        if spl2[1]=="true":
            df1[spl2[0]]=1
        else:
            df1[spl2[0]]=0
        
        
df1

,activation_date,latitude,longitude,gym,lift,swimming_pool,negotiable,property_size,property_age,bathroom,...,"""HK""","""PB""","""VP""","{""AC""","""LIFT""","{""HK""","{""PARK""","{""INTERCOM""","{""SC""","{""SECURITY"""
0,2018-04-21 14:44:00,12.934471,77.634471,1,1,1,0,1250,25,2,...,1,1,0,0,0,0,1,0,1,0
1,2017-09-10 12:48:00,12.929557,77.672280,0,1,0,1,1400,4,2,...,1,1,0,0,0,0,1,0,1,0
2,2018-12-06 22:02:00,12.982870,80.262012,0,1,0,0,1350,6,3,...,1,1,0,0,0,0,1,0,1,0
3,2018-07-20 16:22:00,12.955991,77.531634,0,0,0,1,600,3,1,...,1,1,0,0,0,0,1,0,1,0
4,2018-05-31 17:41:00,12.963903,77.649446,0,0,0,1,1500,15,3,...,1,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20495,2017-12-13 18:08:00,12.925380,77.524397,1,1,1,1,1650,1,3,...,1,1,0,0,0,0,1,0,1,0
20496,2017-10-19 20:31:00,12.931072,77.632361,0,0,0,1,1000,10,2,...,1,1,0,0,0,0,1,0,1,0
20497,2017-12-21 21:18:00,12.901800,77.566597,1,1,0,1,1000,0,2,...,1,1,0,0,0,0,1,0,1,0
20498,2018-06-28 21:58:00,12.965502,77.647694,0,1,0,0,1000,5,2,...,1,1,0,0,0,0,1,0,1,0
20499,2018-08-07 22:31:00,12.998645,77.574336,0,0,0,1,500,3,1,...,1,1,0,0,0,0,1,0,1,0

In [30]:
columns=df1.columns
columns

Index(['activation_date', 'latitude', 'longitude', 'gym', 'lift',
       'swimming_pool', 'negotiable', 'property_size', 'property_age',
       'bathroom', 'cup_board', 'floor', 'total_floor', 'amenities',
       'balconies', 'rent', 'type_BHK1', 'type_BHK2', 'type_BHK3', 'type_BHK4',
       'type_BHK4PLUS', 'type_RK1', 'lease_ANYONE', 'lease_BACHELOR',
       'lease_COMPANY', 'lease_FAMILY', 'fur_FULLY_FURNISHED',
       'fur_NOT_FURNISHED', 'fur_SEMI_FURNISHED', 'parking_BOTH',
       'parking_FOUR_WHEELER', 'parking_NONE', 'parking_TWO_WHEELER', 'face_E',
       'face_N', 'face_NE', 'face_NW', 'face_S', 'face_SE', 'face_SW',
       'face_W', 'water_BOREWELL', 'water_CORPORATION', 'water_CORP_BORE',
       'building_AP', 'building_GC', 'building_IF', 'building_IH', '{"LIFT"',
       '"GYM"', '"INTERNET"', '"AC"', '"CLUB"', '"INTERCOM"', '"POOL"',
       '"CPA"', '"FS"', '"SERVANT"', '"SECURITY"', '"SC"', '"GP"', '"PARK"',
       '"RWH"', '"STP"', '"HK"', '"PB"', '"VP"', '{"AC"', '"LIFT"', '{"HK"',
       '{"PARK"', '{"INTERCOM"', '{"SC"', '{"SECURITY"'],
      dtype='object')

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20500 entries, 0 to 20499
Data columns (total 74 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   activation_date       20500 non-null  datetime64[ns]
 1   latitude              20500 non-null  float64
 2   longitude             20500 non-null  float64
 3   gym                   20500 non-null  int64
 4   lift                  20500 non-null  int64
 5   swimming_pool         20500 non-null  int64
 6   negotiable            20500 non-null  int64
 7   property_size         20500 non-null  int64
 8   property_age          20500 non-null  int64
 9   bathroom              20500 non-null  int64
 10  cup_board             20500 non-null  int64
 11  floor                 20500 non-null  int64
 12  total_floor           20500 non-null  int64
 13  amenities             20500 non-null  object
 14  balconies             20500 non-null  int64
 15  rent                  20500 non-null  int64
 16  type_BHK1             20500 non-null  uint8
 17  type_BHK2             20500 non-null  uint8
 18  type_BHK3             20500 non-null  uint8
 19  type_BHK4             20500 non-null  uint8
 20  type_BHK4PLUS         20500 non-null  uint8
 21  type_RK1              20500 non-null  uint8
 22  lease_ANYONE          20500 non-null  uint8
 23  lease_BACHELOR        20500 non-null  uint8
 24  lease_COMPANY         20500 non-null  uint8
 25  lease_FAMILY          20500 non-null  uint8
 26  fur_FULLY_FURNISHED   20500 non-null  uint8
 27  fur_NOT_FURNISHED     20500 non-null  uint8
 28  fur_SEMI_FURNISHED    20500 non-null  uint8
 29  parking_BOTH          20500 non-null  uint8
 30  parking_FOUR_WHEELER  20500 non-null  uint8
 31  parking_NONE          20500 non-null  uint8
 32  parking_TWO_WHEELER   20500 non-null  uint8
 33  face_E                20500 non-null  uint8
 34  face_N                20500 non-null  uint8
 35  face_NE               20500 non-null  uint8
 36  face_NW               20500 non-null  uint8
 37  face_S                20500 non-null  uint8
 38  face_SE               20500 non-null  uint8
 39  face_SW               20500 non-null  uint8
 40  face_W                20500 non-null  uint8
 41  water_BOREWELL        20500 non-null  uint8
 42  water_CORPORATION     20500 non-null  uint8
 43  water_CORP_BORE       20500 non-null  uint8
 44  building_AP           20500 non-null  uint8
 45  building_GC           20500 non-null  uint8
 46  building_IF           20500 non-null  uint8
 47  building_IH           20500 non-null  uint8
 48  {"LIFT"               20500 non-null  int64
 49  "GYM"                 20500 non-null  int64
 50  "INTERNET"            20500 non-null  int64
 51  "AC"                  20500 non-null  int64
 52  "CLUB"                20500 non-null  int64
 53  "INTERCOM"            20500 non-null  int64
 54  "POOL"                20500 non-null  int64
 55  "CPA"                 20500 non-null  int64
 56  "FS"                  20500 non-null  int64
 57  "SERVANT"             20500 non-null  int64
 58  "SECURITY"            20500 non-null  int64
 59  "SC"                  20500 non-null  int64
 60  "GP"                  20500 non-null  int64
 61  "PARK"                20500 non-null  int64
 62  "RWH"                 20500 non-null  int64
 63  "STP"                 20500 non-null  int64
 64  "HK"                  20500 non-null  int64
 65  "PB"                  20500 non-null  int64
 66  "VP"                  20500 non-null  int64
 67  {"AC"                 20500 non-null  int64
 68  "LIFT"                20500 non-null  int64
 69  {"HK"                 20500 non-null  int64
 70  {"PARK"               20500 non-null  int64
 71  {"INTERCOM"           20500 non-null  int64
 72  {"SC"                 20500 non-null  int64
 73  {"SECURITY"           20500 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(38), object(1), uint8(32)
memory usage: 7.2+ MB

In [32]:
df1=df1.drop(columns=["amenities"])

In [33]:
df1=df1.drop(columns=['{"LIFT"','"GYM"','{"AC"','"LIFT"','{"HK"','{"PARK"','{"INTERCOM"','{"SC"','{"SECURITY"'],axis=1)

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20500 entries, 0 to 20499
Data columns (total 64 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   activation_date       20500 non-null  datetime64[ns]
 1   latitude              20500 non-null  float64
 2   longitude             20500 non-null  float64
 3   gym                   20500 non-null  int64
 4   lift                  20500 non-null  int64
 5   swimming_pool         20500 non-null  int64
 6   negotiable            20500 non-null  int64
 7   property_size         20500 non-null  int64
 8   property_age          20500 non-null  int64
 9   bathroom              20500 non-null  int64
 10  cup_board             20500 non-null  int64
 11  floor                 20500 non-null  int64
 12  total_floor           20500 non-null  int64
 13  balconies             20500 non-null  int64
 14  rent                  20500 non-null  int64
 15  type_BHK1             20500 non-null  uint8
 16  type_BHK2             20500 non-null  uint8
 17  type_BHK3             20500 non-null  uint8
 18  type_BHK4             20500 non-null  uint8
 19  type_BHK4PLUS         20500 non-null  uint8
 20  type_RK1              20500 non-null  uint8
 21  lease_ANYONE          20500 non-null  uint8
 22  lease_BACHELOR        20500 non-null  uint8
 23  lease_COMPANY         20500 non-null  uint8
 24  lease_FAMILY          20500 non-null  uint8
 25  fur_FULLY_FURNISHED   20500 non-null  uint8
 26  fur_NOT_FURNISHED     20500 non-null  uint8
 27  fur_SEMI_FURNISHED    20500 non-null  uint8
 28  parking_BOTH          20500 non-null  uint8
 29  parking_FOUR_WHEELER  20500 non-null  uint8
 30  parking_NONE          20500 non-null  uint8
 31  parking_TWO_WHEELER   20500 non-null  uint8
 32  face_E                20500 non-null  uint8
 33  face_N                20500 non-null  uint8
 34  face_NE               20500 non-null  uint8
 35  face_NW               20500 non-null  uint8
 36  face_S                20500 non-null  uint8
 37  face_SE               20500 non-null  uint8
 38  face_SW               20500 non-null  uint8
 39  face_W                20500 non-null  uint8
 40  water_BOREWELL        20500 non-null  uint8
 41  water_CORPORATION     20500 non-null  uint8
 42  water_CORP_BORE       20500 non-null  uint8
 43  building_AP           20500 non-null  uint8
 44  building_GC           20500 non-null  uint8
 45  building_IF           20500 non-null  uint8
 46  building_IH           20500 non-null  uint8
 47  "INTERNET"            20500 non-null  int64
 48  "AC"                  20500 non-null  int64
 49  "CLUB"                20500 non-null  int64
 50  "INTERCOM"            20500 non-null  int64
 51  "POOL"                20500 non-null  int64
 52  "CPA"                 20500 non-null  int64
 53  "FS"                  20500 non-null  int64
 54  "SERVANT"             20500 non-null  int64
 55  "SECURITY"            20500 non-null  int64
 56  "SC"                  20500 non-null  int64
 57  "GP"                  20500 non-null  int64
 58  "PARK"                20500 non-null  int64
 59  "RWH"                 20500 non-null  int64
 60  "STP"                 20500 non-null  int64
 61  "HK"                  20500 non-null  int64
 62  "PB"                  20500 non-null  int64
 63  "VP"                  20500 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(29), uint8(32)
memory usage: 5.6 MB

In [35]:
import re
df1 = df1.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))

# Splitting Dataset

In [36]:
from sklearn.model_selection import train_test_split
y= df1['rent']
x=df1.drop(columns=['rent','activation_date'],axis=1)

In [37]:
pd. set_option('display.max_rows', 20500)

In [38]:
df1.corr()

,latitude,longitude,gym,lift,swimming_pool,negotiable,property_size,property_age,bathroom,cup_board,...,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP
latitude,1.000000,0.194742,0.035853,0.019632,0.034771,-0.009285,0.006797,0.030060,-0.007669,-0.003166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitude,0.194742,1.000000,0.245978,0.208302,0.229751,-0.024382,0.075645,-0.136155,0.095956,-0.004139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gym,0.035853,0.245978,1.000000,0.645255,0.769686,0.008972,0.290462,-0.179643,0.327032,-0.002625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lift,0.019632,0.208302,0.645255,1.000000,0.564949,0.011361,0.308248,-0.181409,0.366707,-0.003867,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
swimming_pool,0.034771,0.229751,0.769686,0.564949,1.000000,0.010066,0.284686,-0.167475,0.320946,-0.002198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
negotiable,-0.009285,-0.024382,0.008972,0.011361,0.010066,1.000000,0.053598,0.038837,0.059541,0.004701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
property_size,0.006797,0.075645,0.290462,0.308248,0.284686,0.053598,1.000000,-0.008227,0.594711,-0.002578,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
property_age,0.030060,-0.136155,-0.179643,-0.181409,-0.167475,0.038837,-0.008227,1.000000,-0.047173,0.004564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bathroom,-0.007669,0.095956,0.327032,0.366707,0.320946,0.059541,0.594711,-0.047173,1.000000,-0.006370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cup_board,-0.003166,-0.004139,-0.002625,-0.003867,-0.002198,0.004701,-0.002578,0.004564,-0.006370,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
floor,0.004313,0.152689,0.392266,0.405142,0.434442,-0.012456,0.148342,-0.192410,0.171226,-0.002205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_floor,-0.000597,0.201782,0.526721,0.530908,0.574944,-0.002173,0.226368,-0.231279,0.265728,-0.003157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
balconies,0.049549,0.164898,0.415512,0.525769,0.383183,0.027089,0.379853,-0.108382,0.448801,-0.006551,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rent,0.033130,0.163864,0.432081,0.462606,0.434776,0.062430,0.588425,-0.010786,0.677516,-0.001247,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type_BHK1,-0.008999,-0.004791,-0.206487,-0.268865,-0.184882,-0.066819,-0.374109,-0.030665,-0.517087,-0.004749,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type_BHK2,0.019260,-0.021407,-0.024236,0.011580,-0.053416,0.018538,-0.081950,0.028684,-0.056592,0.005903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type_BHK3,-0.006556,0.033195,0.246718,0.278763,0.255696,0.045150,0.457850,-0.000507,0.547049,-0.002014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type_BHK4,-0.020531,-0.012441,0.008981,-0.036610,0.018463,0.021551,0.221873,0.016772,0.263528,-0.000187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type_BHK4PLUS,-0.011698,-0.005850,-0.003084,-0.016215,-0.001397,0.002613,0.097184,0.004371,0.106669,0.000093,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type_RK1,-0.004867,0.002077,-0.071464,-0.082658,-0.062401,-0.028887,-0.199904,-0.026370,-0.197206,-0.001680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lease_ANYONE,-0.005194,0.040303,-0.025900,-0.045015,-0.026612,0.052376,-0.067424,-0.014980,-0.086702,-0.006874,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lease_BACHELOR,0.009784,0.008470,-0.069918,-0.087779,-0.059808,-0.042388,-0.136657,0.009610,-0.134859,-0.001570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lease_COMPANY,0.002435,-0.006853,-0.002523,-0.003756,0.004482,0.007566,0.016417,0.029403,0.013214,-0.000258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lease_FAMILY,0.001664,-0.042339,0.049451,0.074625,0.046045,-0.038961,0.111161,0.008628,0.130151,0.007414,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fur_FULLY_FURNISHED,0.021728,0.061303,0.127433,0.139253,0.108383,-0.016547,0.070622,-0.030235,0.064873,-0.001330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fur_NOT_FURNISHED,0.036400,-0.047054,-0.106136,-0.148936,-0.091754,-0.013002,-0.124041,0.105422,-0.153689,-0.003507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fur_SEMI_FURNISHED,-0.043002,-0.006824,-0.007823,0.016649,-0.005519,0.021494,0.045534,-0.059495,0.072216,0.003610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parking_BOTH,0.003509,0.143886,0.352457,0.474766,0.309885,0.058522,0.363157,-0.095224,0.426495,-0.006025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parking_FOUR_WHEELER,0.004247,0.031682,0.077159,0.093764,0.070014,-0.007257,0.047307,-0.000836,0.059036,0.025631,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parking_NONE,0.025187,-0.047124,-0.106213,-0.143601,-0.091354,-0.030095,-0.110141,0.068512,-0.132533,-0.002093,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parking_TWO_WHEELER,-0.017532,-0.145766,-0.361065,-0.480660,-0.319553,-0.043453,-0.354429,0.068498,-0.416647,-0.006490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
face_E,0.024537,0.029807,0.024032,0.017110,0.026454,-0.005468,0.007646,-0.044297,-0.001294,-0.006400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
face_N,-0.030511,-0.050581,-0.099131,-0.096977,-0.093240,-0.008083,-0.050486,-0.024325,-0.056893,0.010694,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
face_NE,0.005252,0.014259,0.039164,0.037209,0.031563,0.011941,0.040859,-0.014240,0.046623,-0.001331,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
face_NW,0.011749,0.001134,0.015384,0.019295,0.024089,0.005051,0.015973,-0.001431,0.025155,-0.000556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
face_S,-0.011264,-0.017864,-0.054378,-0.047067,-0.043021,0.004856,-0.028102,0.093732,-0.029913,-0.001858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
face_SE,-0.005474,0.002845,0.025476,0.016436,0.027033,0.002022,0.013394,0.020015,0.028100,-0.000623,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
face_SW,-0.010756,0.000195,0.014403,0.010754,0.020803,-0.010008,0.018544,0.027035,0.020970,-0.000314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
face_W,0.009981,0.027237,0.100415,0.106021,0.081538,0.008421,0.042056,0.031268,0.054973,-0.002482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
water_BOREWELL,-0.016838,0.228592,0.235758,0.227319,0.208860,0.009587,0.086518,-0.149940,0.098625,-0.002570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
water_CORPORATION,-0.016359,-0.104631,-0.210568,-0.283732,-0.180633,0.029441,-0.106150,0.211819,-0.135367,-0.005447,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
water_CORP_BORE,0.027429,-0.065366,0.029049,0.103841,0.020180,-0.034529,0.037795,-0.091674,0.056580,0.006958,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
building_AP,0.031241,0.237723,0.564815,0.797915,0.491790,-0.003854,0.290554,-0.169476,0.351070,-0.004802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
building_GC,-0.012585,0.012590,0.000589,-0.014621,0.013499,-0.011579,0.039128,-0.008033,0.031975,-0.000154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
building_IF,-0.030518,-0.204756,-0.457645,-0.625514,-0.403091,-0.017734,-0.306882,0.125410,-0.359242,0.006482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
building_IH,0.000224,-0.050590,-0.162279,-0.260420,-0.135309,0.034474,0.023807,0.067857,0.012224,-0.002624,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INTERNET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CLUB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INTERCOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
POOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SERVANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SECURITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PARK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RWH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [40]:
x_train.shape

(16400, 62)

In [41]:
y_train.shape

(16400,)

In [42]:
x_test.shape

(4100, 62)

In [43]:
y_test.shape

(4100,)

# Importing Models

In [44]:
from sklearn.linear_model import LinearRegression,PassiveAggressiveRegressor,TweedieRegressor,HuberRegressor,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
import lightgbm as lgb
from sklearn.ensemble import StackingRegressor
from catboost import CatBoostRegressor

In [45]:
from sklearn.preprocessing import StandardScaler, RobustScaler
sc = RobustScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [46]:
dt = DecisionTreeRegressor()
dt.fit(x_train,y_train)
dt.score(x_test,y_test)

0.6167385578806299

In [47]:
kn = KNeighborsRegressor()
kn.fit(x_train,y_train)
kn.score(x_test,y_test)

0.6793644135232793

In [48]:
rf = RandomForestRegressor(n_estimators = 500,max_depth=20)
rf.fit(x_train,y_train)
rf.score(x_test,y_test)

0.8125037344439007

In [49]:
gb = GradientBoostingRegressor()
gb.fit(x_train,y_train)
gb.score(x_test,y_test)

0.7945817537349188

In [50]:
xgb = XGBRegressor(n_estimators=500,learning_rate=0.2,max_depth=5)
xgb.fit(x_train,y_train)
xgb.score(x_test,y_test)

0.8261783463254803

In [51]:
lb = lgb.LGBMRegressor(learning_rate=0.05,n_estimators=625)
lb.fit(x_train,y_train)
lb.score(x_test,y_test)

0.8314238679374695

In [52]:
cat = CatBoostRegressor(verbose=0,learning_rate=0.08,iterations=1500)
cat.fit(x_train,y_train)
cat.score(x_test,y_test)

0.8350161377170411

In [53]:
st = StackingRegressor([('xgb',XGBRegressor(n_estimators=500,learning_rate=0.2,max_depth=5)),('lgbr',lgb.LGBMRegressor(learning_rate=0.05,n_estimators=625)),('cbr',CatBoostRegressor(verbose = False,learning_rate=0.08,iterations=1500))],cv=5)
st.fit(x_train,y_train)
st.score(x_test,y_test)

0.837061671292994

In [54]:
estimator = [('stack',st),('lb',lb),('catb',cat)] 

st1 = StackingRegressor(estimators= estimator, cv=5)
st1.fit(x_train,y_train)
st1.score(x_test,y_test)

0.8368900648688856

## Stacking Regressor performed the BEST with CatBoost as main Regressor

Best Accuracy is 83.7061671292994

## Creating answer_submission csv file

In [55]:
submission=pd.DataFrame()

In [56]:
testdf.isnull().sum()

id                 0
type               0
locality           0
activation_date    0
latitude           0
longitude          0
lease_type         0
gym                0
lift               0
swimming_pool      0
negotiable         0
furnishing         0
parking            0
property_size      0
property_age       0
bathroom           0
facing             0
cup_board          0
floor              0
total_floor        0
amenities          0
water_supply       0
building_type      0
balconies          0
dtype: int64

In [57]:
testdf1 = pd.get_dummies(testdf,columns=['type','lease_type','furnishing','parking','facing','water_supply','building_type'], prefix=['type','lease','fur','parking','face','water','building'])

In [58]:
testdf1.columns

Index(['id', 'locality', 'activation_date', 'latitude', 'longitude', 'gym',
       'lift', 'swimming_pool', 'negotiable', 'property_size', 'property_age',
       'bathroom', 'cup_board', 'floor', 'total_floor', 'amenities',
       'balconies', 'type_BHK1', 'type_BHK2', 'type_BHK3', 'type_BHK4',
       'type_BHK4PLUS', 'type_RK1', 'lease_ANYONE', 'lease_BACHELOR',
       'lease_COMPANY', 'lease_FAMILY', 'fur_FULLY_FURNISHED',
       'fur_NOT_FURNISHED', 'fur_SEMI_FURNISHED', 'parking_BOTH',
       'parking_FOUR_WHEELER', 'parking_NONE', 'parking_TWO_WHEELER', 'face_E',
       'face_N', 'face_NE', 'face_NW', 'face_S', 'face_SE', 'face_SW',
       'face_W', 'water_BOREWELL', 'water_CORPORATION', 'water_CORP_BORE',
       'building_AP', 'building_GC', 'building_IF', 'building_IH'],
      dtype='object')

In [59]:
testdf1.shape

(4500, 49)

In [60]:
for i in range(0,4500):
    str=testdf1.amenities[i]
    spl=str.split(',')
#     print(spl)
    for j in spl:
#         print(type(spl))
#         print(j)
#         print(type(j))
        spl2=j.split(":")
        if spl2[1]=="true":
            testdf1[spl2[0]]=1
        else:
            testdf1[spl2[0]]=0

In [61]:
testdf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 74 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4500 non-null   object
 1   locality              4500 non-null   object
 2   activation_date       4500 non-null   object
 3   latitude              4500 non-null   float64
 4   longitude             4500 non-null   float64
 5   gym                   4500 non-null   int64
 6   lift                  4500 non-null   int64
 7   swimming_pool         4500 non-null   int64
 8   negotiable            4500 non-null   int64
 9   property_size         4500 non-null   int64
 10  property_age          4500 non-null   int64
 11  bathroom              4500 non-null   int64
 12  cup_board             4500 non-null   int64
 13  floor                 4500 non-null   int64
 14  total_floor           4500 non-null   int64
 15  amenities             4500 non-null   object
 16  balconies             4500 non-null   int64
 17  type_BHK1             4500 non-null   uint8
 18  type_BHK2             4500 non-null   uint8
 19  type_BHK3             4500 non-null   uint8
 20  type_BHK4             4500 non-null   uint8
 21  type_BHK4PLUS         4500 non-null   uint8
 22  type_RK1              4500 non-null   uint8
 23  lease_ANYONE          4500 non-null   uint8
 24  lease_BACHELOR        4500 non-null   uint8
 25  lease_COMPANY         4500 non-null   uint8
 26  lease_FAMILY          4500 non-null   uint8
 27  fur_FULLY_FURNISHED   4500 non-null   uint8
 28  fur_NOT_FURNISHED     4500 non-null   uint8
 29  fur_SEMI_FURNISHED    4500 non-null   uint8
 30  parking_BOTH          4500 non-null   uint8
 31  parking_FOUR_WHEELER  4500 non-null   uint8
 32  parking_NONE          4500 non-null   uint8
 33  parking_TWO_WHEELER   4500 non-null   uint8
 34  face_E                4500 non-null   uint8
 35  face_N                4500 non-null   uint8
 36  face_NE               4500 non-null   uint8
 37  face_NW               4500 non-null   uint8
 38  face_S                4500 non-null   uint8
 39  face_SE               4500 non-null   uint8
 40  face_SW               4500 non-null   uint8
 41  face_W                4500 non-null   uint8
 42  water_BOREWELL        4500 non-null   uint8
 43  water_CORPORATION     4500 non-null   uint8
 44  water_CORP_BORE       4500 non-null   uint8
 45  building_AP           4500 non-null   uint8
 46  building_GC           4500 non-null   uint8
 47  building_IF           4500 non-null   uint8
 48  building_IH           4500 non-null   uint8
 49  {"LIFT"               4500 non-null   int64
 50  "GYM"                 4500 non-null   int64
 51  "INTERNET"            4500 non-null   int64
 52  "AC"                  4500 non-null   int64
 53  "CLUB"                4500 non-null   int64
 54  "INTERCOM"            4500 non-null   int64
 55  "POOL"                4500 non-null   int64
 56  "CPA"                 4500 non-null   int64
 57  "FS"                  4500 non-null   int64
 58  "SERVANT"             4500 non-null   int64
 59  "SECURITY"            4500 non-null   int64
 60  "SC"                  4500 non-null   int64
 61  "GP"                  4500 non-null   int64
 62  "PARK"                4500 non-null   int64
 63  "RWH"                 4500 non-null   int64
 64  "STP"                 4500 non-null   int64
 65  "HK"                  4500 non-null   int64
 66  "PB"                  4500 non-null   int64
 67  "VP"                  4500 non-null   int64
 68  {"HK"                 4500 non-null   int64
 69  "LIFT"                4500 non-null   int64
 70  {"PARK"               4500 non-null   int64
 71  {"AC"                 4500 non-null   int64
 72  {"INTERCOM"           4500 non-null   int64
 73  {"SC"                 4500 non-null   int64
dtypes: float64(2), int64(36), object(4), uint8(32)
memory usage: 1.6+ MB

In [62]:
testdf1=testdf1.drop(columns=["amenities"])

In [63]:
testdf1=testdf1.drop(columns=['{"LIFT"','"GYM"','{"AC"','"LIFT"','{"HK"','{"PARK"','{"INTERCOM"','{"SC"'],axis=1)

In [64]:
testdf1.shape

(4500, 65)

In [65]:
import re
testdf1 = testdf1.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))

In [66]:
testdf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 65 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4500 non-null   object
 1   locality              4500 non-null   object
 2   activation_date       4500 non-null   object
 3   latitude              4500 non-null   float64
 4   longitude             4500 non-null   float64
 5   gym                   4500 non-null   int64
 6   lift                  4500 non-null   int64
 7   swimming_pool         4500 non-null   int64
 8   negotiable            4500 non-null   int64
 9   property_size         4500 non-null   int64
 10  property_age          4500 non-null   int64
 11  bathroom              4500 non-null   int64
 12  cup_board             4500 non-null   int64
 13  floor                 4500 non-null   int64
 14  total_floor           4500 non-null   int64
 15  balconies             4500 non-null   int64
 16  type_BHK1             4500 non-null   uint8
 17  type_BHK2             4500 non-null   uint8
 18  type_BHK3             4500 non-null   uint8
 19  type_BHK4             4500 non-null   uint8
 20  type_BHK4PLUS         4500 non-null   uint8
 21  type_RK1              4500 non-null   uint8
 22  lease_ANYONE          4500 non-null   uint8
 23  lease_BACHELOR        4500 non-null   uint8
 24  lease_COMPANY         4500 non-null   uint8
 25  lease_FAMILY          4500 non-null   uint8
 26  fur_FULLY_FURNISHED   4500 non-null   uint8
 27  fur_NOT_FURNISHED     4500 non-null   uint8
 28  fur_SEMI_FURNISHED    4500 non-null   uint8
 29  parking_BOTH          4500 non-null   uint8
 30  parking_FOUR_WHEELER  4500 non-null   uint8
 31  parking_NONE          4500 non-null   uint8
 32  parking_TWO_WHEELER   4500 non-null   uint8
 33  face_E                4500 non-null   uint8
 34  face_N                4500 non-null   uint8
 35  face_NE               4500 non-null   uint8
 36  face_NW               4500 non-null   uint8
 37  face_S                4500 non-null   uint8
 38  face_SE               4500 non-null   uint8
 39  face_SW               4500 non-null   uint8
 40  face_W                4500 non-null   uint8
 41  water_BOREWELL        4500 non-null   uint8
 42  water_CORPORATION     4500 non-null   uint8
 43  water_CORP_BORE       4500 non-null   uint8
 44  building_AP           4500 non-null   uint8
 45  building_GC           4500 non-null   uint8
 46  building_IF           4500 non-null   uint8
 47  building_IH           4500 non-null   uint8
 48  INTERNET              4500 non-null   int64
 49  AC                    4500 non-null   int64
 50  CLUB                  4500 non-null   int64
 51  INTERCOM              4500 non-null   int64
 52  POOL                  4500 non-null   int64
 53  CPA                   4500 non-null   int64
 54  FS                    4500 non-null   int64
 55  SERVANT               4500 non-null   int64
 56  SECURITY              4500 non-null   int64
 57  SC                    4500 non-null   int64
 58  GP                    4500 non-null   int64
 59  PARK                  4500 non-null   int64
 60  RWH                   4500 non-null   int64
 61  STP                   4500 non-null   int64
 62  HK                    4500 non-null   int64
 63  PB                    4500 non-null   int64
 64  VP                    4500 non-null   int64
dtypes: float64(2), int64(28), object(3), uint8(32)
memory usage: 1.3+ MB

In [67]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20500 entries, 0 to 20499
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   latitude              20500 non-null  float64
 1   longitude             20500 non-null  float64
 2   gym                   20500 non-null  int64
 3   lift                  20500 non-null  int64
 4   swimming_pool         20500 non-null  int64
 5   negotiable            20500 non-null  int64
 6   property_size         20500 non-null  int64
 7   property_age          20500 non-null  int64
 8   bathroom              20500 non-null  int64
 9   cup_board             20500 non-null  int64
 10  floor                 20500 non-null  int64
 11  total_floor           20500 non-null  int64
 12  balconies             20500 non-null  int64
 13  type_BHK1             20500 non-null  uint8
 14  type_BHK2             20500 non-null  uint8
 15  type_BHK3             20500 non-null  uint8
 16  type_BHK4             20500 non-null  uint8
 17  type_BHK4PLUS         20500 non-null  uint8
 18  type_RK1              20500 non-null  uint8
 19  lease_ANYONE          20500 non-null  uint8
 20  lease_BACHELOR        20500 non-null  uint8
 21  lease_COMPANY         20500 non-null  uint8
 22  lease_FAMILY          20500 non-null  uint8
 23  fur_FULLY_FURNISHED   20500 non-null  uint8
 24  fur_NOT_FURNISHED     20500 non-null  uint8
 25  fur_SEMI_FURNISHED    20500 non-null  uint8
 26  parking_BOTH          20500 non-null  uint8
 27  parking_FOUR_WHEELER  20500 non-null  uint8
 28  parking_NONE          20500 non-null  uint8
 29  parking_TWO_WHEELER   20500 non-null  uint8
 30  face_E                20500 non-null  uint8
 31  face_N                20500 non-null  uint8
 32  face_NE               20500 non-null  uint8
 33  face_NW               20500 non-null  uint8
 34  face_S                20500 non-null  uint8
 35  face_SE               20500 non-null  uint8
 36  face_SW               20500 non-null  uint8
 37  face_W                20500 non-null  uint8
 38  water_BOREWELL        20500 non-null  uint8
 39  water_CORPORATION     20500 non-null  uint8
 40  water_CORP_BORE       20500 non-null  uint8
 41  building_AP           20500 non-null  uint8
 42  building_GC           20500 non-null  uint8
 43  building_IF           20500 non-null  uint8
 44  building_IH           20500 non-null  uint8
 45  INTERNET              20500 non-null  int64
 46  AC                    20500 non-null  int64
 47  CLUB                  20500 non-null  int64
 48  INTERCOM              20500 non-null  int64
 49  POOL                  20500 non-null  int64
 50  CPA                   20500 non-null  int64
 51  FS                    20500 non-null  int64
 52  SERVANT               20500 non-null  int64
 53  SECURITY              20500 non-null  int64
 54  SC                    20500 non-null  int64
 55  GP                    20500 non-null  int64
 56  PARK                  20500 non-null  int64
 57  RWH                   20500 non-null  int64
 58  STP                   20500 non-null  int64
 59  HK                    20500 non-null  int64
 60  PB                    20500 non-null  int64
 61  VP                    20500 non-null  int64
dtypes: float64(2), int64(28), uint8(32)
memory usage: 5.3 MB

In [68]:
testdf1=testdf1.drop(columns=["id","activation_date"])

In [69]:
testdf1=testdf1.drop(columns=["locality"])

In [70]:
testdf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   latitude              4500 non-null   float64
 1   longitude             4500 non-null   float64
 2   gym                   4500 non-null   int64
 3   lift                  4500 non-null   int64
 4   swimming_pool         4500 non-null   int64
 5   negotiable            4500 non-null   int64
 6   property_size         4500 non-null   int64
 7   property_age          4500 non-null   int64
 8   bathroom              4500 non-null   int64
 9   cup_board             4500 non-null   int64
 10  floor                 4500 non-null   int64
 11  total_floor           4500 non-null   int64
 12  balconies             4500 non-null   int64
 13  type_BHK1             4500 non-null   uint8
 14  type_BHK2             4500 non-null   uint8
 15  type_BHK3             4500 non-null   uint8
 16  type_BHK4             4500 non-null   uint8
 17  type_BHK4PLUS         4500 non-null   uint8
 18  type_RK1              4500 non-null   uint8
 19  lease_ANYONE          4500 non-null   uint8
 20  lease_BACHELOR        4500 non-null   uint8
 21  lease_COMPANY         4500 non-null   uint8
 22  lease_FAMILY          4500 non-null   uint8
 23  fur_FULLY_FURNISHED   4500 non-null   uint8
 24  fur_NOT_FURNISHED     4500 non-null   uint8
 25  fur_SEMI_FURNISHED    4500 non-null   uint8
 26  parking_BOTH          4500 non-null   uint8
 27  parking_FOUR_WHEELER  4500 non-null   uint8
 28  parking_NONE          4500 non-null   uint8
 29  parking_TWO_WHEELER   4500 non-null   uint8
 30  face_E                4500 non-null   uint8
 31  face_N                4500 non-null   uint8
 32  face_NE               4500 non-null   uint8
 33  face_NW               4500 non-null   uint8
 34  face_S                4500 non-null   uint8
 35  face_SE               4500 non-null   uint8
 36  face_SW               4500 non-null   uint8
 37  face_W                4500 non-null   uint8
 38  water_BOREWELL        4500 non-null   uint8
 39  water_CORPORATION     4500 non-null   uint8
 40  water_CORP_BORE       4500 non-null   uint8
 41  building_AP           4500 non-null   uint8
 42  building_GC           4500 non-null   uint8
 43  building_IF           4500 non-null   uint8
 44  building_IH           4500 non-null   uint8
 45  INTERNET              4500 non-null   int64
 46  AC                    4500 non-null   int64
 47  CLUB                  4500 non-null   int64
 48  INTERCOM              4500 non-null   int64
 49  POOL                  4500 non-null   int64
 50  CPA                   4500 non-null   int64
 51  FS                    4500 non-null   int64
 52  SERVANT               4500 non-null   int64
 53  SECURITY              4500 non-null   int64
 54  SC                    4500 non-null   int64
 55  GP                    4500 non-null   int64
 56  PARK                  4500 non-null   int64
 57  RWH                   4500 non-null   int64
 58  STP                   4500 non-null   int64
 59  HK                    4500 non-null   int64
 60  PB                    4500 non-null   int64
 61  VP                    4500 non-null   int64
dtypes: float64(2), int64(28), uint8(32)
memory usage: 1.2 MB

In [71]:
testdf1.shape

(4500, 62)

# Dumping Model

In [76]:
import pickle
pickle.dump(st, open('stmodel.pkl', 'wb'))